# Disallow everything
*

# Allow directories
!*/

# Allow Git-related files
!README.rst
!LICENSE.md
!LICENSE.GNU-GPLv3.md
!LICENSE.LaTeX-1.3c.txt
!.gitignore

# Allow LaTeX-related file types
!*.cls
!*.sty
!*.tex
